/* Body and containers */
body {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, hsl(292, 42%, 14%) 30%, hsl(275, 100%, 97%) 10%);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Work Sans", sans-serif;
    line-height: calc(1em + 0.5rem);      
}

.answer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page_wrapper {
    max-width: 600px;
    background-color: white;
    color:hsl(292, 42%, 14%);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    position: relative;
    margin-top: 20%;
}


/* Typography h1, h2, p */
p {
    color: hsl(292, 16%, 49%);
    font-weight: 400;
    font-size: calc(0.8rem + 0.5vw);
}

.h1 {
    font-weight:700;
    font-size: calc(2rem + 0.5vw);
}

.h2 {
    font-weight: 600;
    font-size: calc(1rem + 0.5vw);
}

.answer {
    max-height: 0;
    opacity: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.answer.show {  
    max-height: 31.25rem;
    opacity: 1;   
}

#attribution {
    max-width: 600px;
    margin-top: 1rem;
    color:hsl(292, 16%, 49%);
    font-weight: 600;
}

/* Buttons */
button {
    border: none;
    background: none;
}

button:focus {
    outline: 2px solid hsl(292, 42%, 14%);
    outline-offset: 4px; 
    background-color: hsl(275, 100%, 97%);
    box-shadow: 0 0 8px rgba(173, 40, 235, 0.5); 
}

.minus {
    display: none;
}

.minus.show {
    display: inline;
}

.plus {
    display: inline;
}

.plus.hide {
    display: none;
}

/* Attribution's links: <a> */
a {
    text-decoration: none;
    color: hsl(292, 42%, 14%);
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);   
}

a:focus, input:focus {
    outline: 2px dashed hsl(292, 16%, 49%); /* Bordo tratteggiato */
    outline-offset: 2px;
}



